body {
	color: black;

	background-color:  #c671bf  ;

	        
}


h1 { 
	 font-family: 'Dynalight', cursive;

    font-family: 'Newsreader', serif;

    font-family: 'Pattaya', sans-serif;
    
	
}

h2 {
	font-family: 'Dynalight', cursive;

    font-family: 'Newsreader', serif;

    font-family: 'Pattaya', sans-serif;

    
}

h3 {    
	 font-family: 'Dynalight', cursive;

    font-family: 'Newsreader', serif;

    font-family: 'Pattaya', sans-serif;
    
}

h4{  
	font-family: 'Dynalight', cursive;

    font-family: 'Newsreader', serif;

    font-family: 'Pattaya', sans-serif;

    }

p{  
	font-family: 'Newsreader', serif;

    font-family: 'Pattaya', sans-serif;
}

p {font-size:25px}

h1{font-size: 40px}

h2{font-size: 30px}

h3{font-size: 30px}

h4{font-size: 20px}


h2{
	background-color: #fdabf6
}
p{margin-left: 50px
}

p{margin-right: 50px
}

p{margin-bottom: 50px line-height:50px
}
div{
	width: : 800px;
	height: :500px;
	background-color:  #eabae6;
	border: solid black;
	margin-left :0px;
	margin-right:500px;

}
h4{border-style: 150px}