
img.heady {width: cover; max-height: 500px;padding-left: 300px;padding-bottom: 100px}
p.boubou{font-family:arial;font-size: 30px;color:white;background: linear-gradient(#f69d3c, #3f87a6)}
p.coucou{font-family:arial;font-size: 30px;color:white;background: radial-gradient(#f69d3c, #3f87a6)}
p.doudou{font-family:arial;font-size: 30px;color:white;background: linear-gradient(#f69d3c, #3f87a6)}
h2{text-align: center;padding-top: 50px;padding-bottom: 50px;background:brown;color:#cd6155;font-size: 40px}
footer{text-align: center;color:white;font size:15px; ;background-color: black;font-family: times new roman;background: radial-gradient(#3f87a6,#f69d3c)}
figure {margin: 0;padding-left: 970px}
figcaption{font-family: times new roman;color:#28b463;text-align:right;padding-top: 30px;font-size: 20px}
