@font-face

{font-family: 'Reey-Regular';
src: url('Reey-Regular.otf');
}

h1{
    font-family: 'Reey-Regular', sans-serif;
    font-size: 50px;
    background-color: #772991;
    text-align: center;
    color: cornsilk;
    padding: 20px;
    
}
h2{
    color: #489c85;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 20px;
}
.jaime{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

p{
    text-align: left;
}
footer{
    background-color: #772991;
    text-align: center;
    color: #EEE; 
}
footer image{
    float: left;
    padding: 10px;
    width: 150px;
}
div{
    justify-content: flex-end;

}
