       	 .texte-pink
        	{
        		color:#fc33ff;
        		font-size: 20px;
        	
        		background:#33ceff;

        	}
.texte-white
{
	color:white;
	font-size:20px;
	text-align: center;

}
        	
        	
        .text-center{

        	text-align: center;
        	font-family: Courier New, monospace;
        		
        		

        	
}
.texte-toright
 {
  width: 250px;
  float:right;
  /*margin-left: auto;
  margin-right: auto;

}*/
}

.texte-image
{
	width: 450px;
	margin: auto;
	
}
    
h4
{
	color:#ff3c33;

	font-size:50px;

	text-align: center;

	font-family:oblique;

}
