
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    text-align: center;
    background-image: url(damir.jpg);
    font-size: 20px;
    color:#333;
    line-height: 25px;
}

header {
    grid-column: 1;
    grid-row: 1;
    background-color: #c30044;
    height: 100%;
    color: #eee;
}

header img {
    width: 80%;
    max-width: 150px;
    margin-top: 30px;
}

header h1 {
    padding: 20px 0;
}

ul {
    grid-column: 2 / 4;
    grid-row: 1;
    max-width: 500px;
    max-height: 90%;
    margin: auto;
    overflow-y: auto;
}

ul li {
    min-width: 300px;
    list-style-type: none;
}

ul li a {
    display: block;
    color:#c30044;
}

ul li a:hover {
    background-color: pink;
}

article {
    grid-column: 1 / 4;
    grid-row: 2;
    padding: 50px;
}

footer {
    grid-column: 2 / 4;
    grid-row: 3;
    background-color: #111;
    color: #eee;
    padding: 60px 0;
    font-weight: bold;
}





@media (max-width: 700px) {

        body {
            display: block;
        }

        header {
            height: auto;
        }

        ul {
            max-height:none;
            padding-bottom: 30px;
        }
}