body {
	margin: 0;
}

footer {
	margin-bottom: 0;
	text-align: center;
}


.encabezado {
	background: #fff  ;
	color: #6365f0;
	height: 80px;
	font-size: 30px;
	padding-top: 15px
	
}

.titres {
	padding:12px;
	padding-left: 30px;
	margin: 0;
	font-size: 30px;
}


.pie-de-pagina {
	background:  #6365f0 ;
	color: #fff;
	height: 200px;
	font-size: 55px;
	margin-top: 30px;
	bottom: 0;
	padding-top: 20px;


}

.principio {
	background-image: url(https://cdn.pixabay.com/photo/2017/08/07/22/51/fabric-peruvian-2608819_960_720.jpg);
	background-repeat: no-repeat;
	height: 280Px;
	opacity: 0.8;
	width: 1282px;
	background-size: cover;

}

.citation {
	
	color: #0f541f;
	float: center;
	font-size: 20px;
	text-align: center;
	margin: 40px;
	

}

.redes-sociales{
	margin-bottom: 0;
}

.deb {
	text-align: center;
	color:  #b3b3b5 ;
	font-size: 50px;
}

h2 {
	 color:  #0f541f;
	 font-family: 'KoHo', sans-serif;
	 padding-left: 40px;
	 font-size: 40px;

}

.pro {
	    font-family: 'KoHo', sans-serif;
	    padding-left: 30px;
	    color:   #716eae;
	    display: flex;
	    justify-content: space-evenly;

}

a {
	color:#fff;
}

a:hover{
	color:  #2a3581;

}

.perso {
	font-family: 'KoHo', sans-serif;
	padding-left: 40px;
	color:   #716eae;
	display: flex;
	justify-content: space-evenly;


}


ul{
	font-size: 30px;
}

img {

	height: 300px;
	border-radius: 60px;
}