
header {
    background-image: url(sailor1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    max-width: 900px;
    margin: auto;
}
header img{
    float:right;
    width: 250px;
    
}

strong{

    font-size: 100px;
    color: rgb(68, 63, 131);
    font-family:cursive;
    text-align:center;
    
}