*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #D3ADAC;
    
    
    
}
body{
    background: url(./bg4.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    

}


h1{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: white;
    padding: 10px;
    
}

h2{
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: #D3ADAC;
    padding: 10px;
    
}

.person{
    padding-top: 20px;
    text-align: center;
    background-color: #E6C1B5;
    margin-left: 20%;
    margin-right: 20%;
}

.person img{
    border-radius: 50%;
    
}

p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.presentation{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 22px;
    background-color: white;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    
}

ul{
    list-style-type: none;
}

.interests{
    text-align: center;
    padding: 30px;
    background-color: #E6C1B5;
    margin-left: 20%;
    margin-right: 20%;
}

.interests h2{
    color: white;
    padding: 30px;
}

footer{
    font-family: 'Rajdhani', sans-serif;
    background-color: white;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}