body {
	color: black;

	background-color:  #c671bf  ;
  
}


h1 { 
	 
    font-family: 'Dynalight', cursive;
}

h2 {
	font-family: 'Dynalight', cursive; 
}

h3 {    
	font-family: 'Pattaya', sans-serif;    
}

h4{  	
    font-family: 'Newsreader', serif;
}

p{  font-family: 'Newsreader', serif;
}
	  

p {font-size:20px}

h1{font-size: 50px}

h2{font-size: 30px}

h3{font-size: 20px}

h4{font-size: 20px}


h2{
	background-color: #fdabf6
}
h2{margin-left: 50px;
}
h2{margin-right:50px;
}
h3{margin-left:120px;
}
h3{margin-right:50px;
}

p{margin-left:50px;
}

p{margin-right:50px;
}


div{
	width: : 500px;
	height: :500px;
	background-color:  #eabae6;
	border: solid black;
	margin-left :50px;
	margin-right:50px;
}

h4{border-style: 150px;
}

 img {border:solid black;

}